.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(53, 53, 53);
}
.heading {
  color: rgb(89, 89, 255);
  font-size: 4rem;
}
.description {
  color: #fff;
  font-size: 1.4rem;
}
.row {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.textInput {
  height: 50px;
  padding: 20px 20px;
  font-size: 1.1rem;
  outline: none;
  border: 4px solid transparent;
}
.textInput:hover, .textInput:focus {
  border-color: rgb(89, 89, 255);
}
.textInput:focus {
  outline: none;
}
.button, .closeButton {
  height: 50px;
  background-color: rgb(89, 89, 255);
  padding: 20px 40px;
  outline: none;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s all ease;
}
.button:hover, .closeButton:hover {
  background-color: rgb(35, 35, 212);
}
.button:active, .closeButton:active {
  background-color: rgb(26, 26, 166);
}
.ldsDualRing {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ldsDualRing:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overlay {
  background-image: linear-gradient(to left, rgb(0,0,0,0.8), rgb(0,0,0,0.8));
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.response {
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  text-align: center;
}
.price {
  color: rgb(89, 89, 255);
  font-size: 3rem;
}
.desc {
  font-size: 1.2rem;
  color: rgb(150, 150, 150);
}
.attributesWrapper {
  text-align: left;
  width: fit-content;
  margin: 0 auto;
}
.attributes {
  font-size: 1.2rem
}
.closeButton {
  margin-top: 20px;
}